{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="about-content">
            <h2>About Me</h2>
            <p>Welcome to my portfolio! I'm a passionate web developer with a strong background in...</p>
            <p>Here are a few things about me:</p>
            <ul>
                <li>I am currently attending a degree in Computer Engineering from Makerere University.</li>
                <li>I am much into computer communication networks</li>
                <li>I also do web development using technologies like Django, HTML, CSS, and JavaScript.</li>
                <li>I am recently highly interested in Information Security, i am very passionate about having peopl's networks, computer systems and data highly secured</li>
                <li>I enjoy solving complex problems and building innovative solutions.</li>
                <!-- Add more points about yourself -->
            </ul>
            <a href="{% url 'profile_1' %}" class="btn">View My Works</a>
        </div>
    </section>
{% endblock %}
