
{% extends 'base.html' %}
{% load  static %}

{% block title %}Add Achievement{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'form_styles.css' %}">

{% block content %}
    <h2>Add Achievements</h2>
    <form method="post" action="{% url 'add_achievement' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a href="{% url 'add_achievement' %}">Add another Achievement</a> 
      </form>
          
    </form>
{% endblock %}
