{% extends 'base.html' %}

{% block content %}

  <form method="post" action="{% url 'contact' %}">
    <h2>Send a Message</h2> <br>
    <p>Any info! I will be glad to hear from you</p>
    {% csrf_token %}
    <label for="username">Email:</label>
    <input type="email" name="email" required>
    <br>
    <label for="password">Phone:</label>
    <input type="tel" name="phone" id="required">
    <br>
    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
{% endblock %}
