<!-- profile.html -->

{% extends 'base.html' %}

{% block title %}{{ profile.full_name }} - {{ profile.area_of_study }}{% endblock %}

{% block content %}

<section class="content">
 <a href="{% url 'profile_1' %}" style="
    width: 10%;
    padding: 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
        " 
    > Edit</a> <button  id="downloadBtn" >Download PDF</button>
    <div class="profile-header">
        <h1>{{ profile.full_name }}</h1>
        <h2>{{ profile.area_of_study }}</h2>
        {% if profile.contact_number_1 %}
            <p>Contact: {{ profile.contact_number_1 }}, {{ profile.contact_number_2 }}</p>
        {% endif %}
        {% if profile.email %}
            <p>Email: {{ profile.email }}</p>
        {% endif %}
        {% if profile.github_url %}
            <p>GitHub: <a href="{{ profile.github_url }}" target="_blank">{{ profile.github_url }}</a></p>
        {% endif %}
        {% if profile.summary %}
            <div class="overview">
                <p>{{ profile.summary}}</p>
            </div>
        {% endif %}
    </div>

    <!-- Work Experiences -->
    <div class="section-container work-experiences">
        <h2>Work Experiences</h2>
        <ul>
            {% for experience in profile.work_experiences.all %}
                <li>
                    <strong>{{ experience.position }}</strong> at {{ experience.company }}<br>
                    {{ experience.start_date }} - {{ experience.end_date|default:"Present" }}<br>
                    {{ experience.workdone }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Education -->
    <div class="section-container education">
        <h2>Education</h2>
        <ul>
            {% for item in profile.education.all %}
                <li>
                    <strong>{{ item.program}}</strong> at {{ item.school_or_university }}<br>
                    {{ item.grade }}<br>
                    {{ item.year_started }} - {{ item.year_started }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Skills -->
    <div class="section-container skills">
        <h2>Skills</h2>
        <ul>
            {% for skill in profile.skills.all %}
                <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Achievements -->
    <div class="section-container achievements">
        <h2>Achievements</h2>
        <ul>
            {% for achievement in profile.achievements.all %}
                <li><a href="achievement.url">{{ achievement.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Projects -->
    <div class="section-container projects">
        <h2>Projects</h2>
        <ul>
            {% for project in profile.project.all %}
                <li>{{ project.title }} <br> {{project.description }} <br> <a href="{{project.link }}">Link</a></li> <br>
            {% endfor %}
        </ul>
    </div>

    <!-- Hobbies -->
    <div class="section-container hobbies">
        <h2>Hobbies</h2>
        <ul>
            {% for hobby in profile.hobby.all %}
                <li>{{ hobby.title }}</li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}